/* CSS for Dashboard Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222F30ff;
}

header {
    background-color: #222F30ff;
    color: #EAF1E8ff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 20px;
}

nav {
    text-align: right;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
     color: #EAF1E8ff;
    text-decoration: none;
}

nav ul li a:hover{
    color: #53645Eff;
    text-decoration: underline;
}

h3 {
    margin: 0;
    text-align: center;
    font-size: 25px;
}
/* CSS for Main Content and Links */
main {
    padding: 20px;
    color: #536769ff;
}

.journal-entries {
    margin-bottom: 30px;
}

/* CSS for Table Columns as Boxes and Footer Fixed to Bottom */
table {
    width: 100%;
    border-spacing: 0;
}

table th, table td {
    border: 1px solid  #A9C1B8ff;
    padding: 15px;
}

table th {
    background-color:  #A9C1B8ff;
    color: #222F30ff;
    font-weight: bold;
    text-align: left;
}

table td {
    background-color: #EAF1E8ff;
}

.ve{
    color: #222F30ff;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin: 2px;
}

.ve:hover{
    color: #536769ff;
}

.dashboard-stats {
    margin-top: 30px;
/*    text-align: center;*/
}

.dashboard-stats p {
    margin-bottom: 10px;
}
