/* CSS for Settings Page with Fixed Footer */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EAF1E8; /* Mint Cream */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure main content fills viewport height */
}

header {
    background-color: #536769; /* Paynes Gray */
    color: #EAF1E8; /* Mint Cream */
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    float: left;
}

h2 {
    margin: 0;
}

header a{
    color: #EAF1E8;
    text-decoration: none;
    float: right;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    transition: 0.2s;
}

header a:hover{
    background-color: #222F30ff;
}

main {
    flex: 1; /* Allow main content to grow and fill remaining space */
    padding: 20px;
}

.profile-details {
    background-color: #fff; /* White */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.update-form {
    background-color: #fff; /* White */
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #536769; /* Paynes Gray */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    background-color: #536769; /* Paynes Gray */
    color: #EAF1E8; /* Mint Cream */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #435151; /* Darker Paynes Gray */
    transition: background-color 0.3s ease;
}